<% @title = 'Sign Up' %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email %>
  <%= f.email_field :email, :class => 'span12' %>
  
  <%= f.label :full_name %>
  <%= f.text_field :full_name, :class => 'span12' %>
  
  <%= f.label :cell_phone, 'Cell Phone (numbers only)' %>
  <%= f.text_field :cell_phone, :class => 'span12' %>
  
  <%= f.label :password %>
  <%= f.password_field :password, :class => 'span12' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, :class => 'span12' %>
  
  <%= f.submit "Sign up", :class => 'btn btn-primary pull-right' %>
  
  <label class="remember-me"><input type="checkbox"> I agree with the <a href="terms-and-conditions.html">Terms and Conditions</a></label>
<% end %>