<% @title = "Edit #{@user.full_name.titleize}" %>
<% @breadcrumb = 'Settings' %>

<%= form_for(@user, :url => update_settings_url, :html => { :method => :post }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if current_user.admin? %>
  <div><%= f.check_box :admin %><%= f.label :admin, 'Admin?' %></div>
  <% end %>
  
  <div><%= f.label :email %>
  <%= f.email_field :email, :disabled => 'disabled' %></div>
  
  <div><%= f.label :full_name %>
  <%= f.text_field :full_name %></div>
  
  <div><%= f.label :cell_phone, "Cell Phone (numbers only)" %>
  <%= f.text_field :cell_phone %></div>
  
  <div><%= f.label :regen_time, 'Time for regeneration' %>
  <%= select(:user, :regen_time, { 'Monthly' => 'monthly', 'Weekly' => 'weekly' }) %></div>
  
  <div><%= f.check_box :requests_newsletter %><%= f.label :requests_newsletter %></div>
  
  <div><%= f.check_box :active %><%= f.label :active, 'Web Service Active' %> <%= image_tag 'question.png', :alt => 'Designates whether your web service is turned on or off' %></div>
  
  <br />
  <h3>Change Password</h3>
  
  <div><%= f.label :password, 'Password <i>(leave blank if you don\'t want to change it)</i>'.html_safe %>
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation, 'Confirm Password' %>
  <%= f.password_field :password_confirmation %></div>
  
  <br />
  
  <div><%= f.label :current_password, 'Current Password <i>(we need your current password to confirm your changes)</i>'.html_safe %>
  <%= f.password_field :current_password %></div>
  
  
  <div><%= f.submit "Update", :class => 'btn' %></div>
  
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(@user), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back, :class => 'btn small light-grey' %>
