<% @title = 'Sign Up' %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, :class => 'span12' %>

  <%= f.label :password %>
  <%= f.password_field :password, :class => 'span12' %>
  
  <%= f.submit "Sign in", :class => 'btn btn-primary pull-right' %>
  
  <% if devise_mapping.rememberable? -%>
    <%= f.label :remember_me, "#{f.check_box :remember_me} Remember me".html_safe, :class => 'remember-me' %>
  <% end -%>
  <div class="clearfix"></div>
<% end %>
