<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Badge:</b>
  <%= @location.badge %>
</p>

<p>
  <b>Location group:</b>
  <%= @location.location_group_id %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
